@media(max-width:450px){



    .header{
        padding: 10px 20px;
        position: relative;
    }
    
    .header article img{
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
    
    .header article p{
        font-size: 14px;
        display: flex;
    }
    
    .header nav{
        width: 200px;
        height: 500px;
        display: flex;
        position: absolute;
        background-color: white;
        padding: 30px;
        top: 70px;
        left: -200px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        border-radius: 0px 0px 20px 0px;
        transition: 0.5s;
    }

    .header nav a{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color:  black;
        gap: 10px;
    }
    
    .header nav a:hover{
        color:white;
        transform: scale(1.1);
    }

    .header nav button{
        width: fit-content;
        height: fit-content;
        padding: 10px;
        position: absolute;
        top: 200px;
        left: 20px;
        border: none;
        outline: none;
        background-color: #008080;
        text-align: left;
    }

    .header nav button a{
        color: white;
    }

    .header .image{
        padding: 0;
        display: flex;
        background-color: transparent;
        border: none;
        transition: 1s;
    }

    .header .image img{
        width: 25px;
        height: 25px;
        object-fit: contain;
        transition: 1s;
    }

    .header .image img:hover{
        transform: scale(1.2);
    }

    .main{
        padding-top: 0px;
    }

    .main .home .wall{
        width: 100%;
        height: 100%;
        gap: 30px;
    }
    
    .main .home .wall h2{
        font-size: 45px;
        color: white;
        text-align: center;
        align-self: center;
    } 
    
    .main .home article h1{
        font-size: 40px;
        text-align: center;
    }
    
    .main .home article p{
        width: 100%;
        font-size: 18px;
        padding: 10px 10px;
        letter-spacing: 0px;
    }
    
    .main .home article p b{
        padding: 10px 10px;
        font-size: 18px;
    }
    
    .main .home article p button{
        width: 100%;
    }
    
    .main .home .next{
        padding: 10px 25px;
        justify-content: center;
        gap: 30px;
    }

    .main .home .next img{
        width: 100%;
        height: 300px;
        display: flex;
        border: 2px solid #008080;
        border-radius: 10px;
    }
    
    .main .home .next h1{
        width: 100%;
        font-size: 40px;
        align-self: center;
        text-align: center;
    }
    
    .main .home .next p{
        width: 100%;
        padding: 0px 0px;
        text-align: center;
        align-self: center;
    }
    
    .main .home .next .bold{
        font-size: 28px;
    }
    
    .main .home .next ol{
        width: 100%;
    }
    
    .main .home .next ol li{
        width: 100%;
        padding: 10px 10px;
        gap: 10px;
        color: black;
    }

    .main .home .image{
        width: 100%;
        padding: 10px 20px;
    }
    
    .main .home .image article{
        width: 100%;
        flex-direction: column;
        gap: 0px;
    }

    .main .home .image h2, p{
        align-self: center;
        text-align: center;

    }
    
    .main .home .image article img{
        width: 350px;
        height: 100%;
        object-fit: contain;
        align-self: center;
    }
    
    .main .home .div{
        flex-direction: column;
        gap: 0px;
    }
    
    .main .home .div .maps img{
        width: 380px;
        height: 350px;
        object-fit: contain;
        align-self: center;
    }
    
    .main .home .div .map-list{
        width: 100%;
    }
    
    .main .home .div .map-list ul{
        width: 100%;
        gap: 15px;
        border-right: none;
    }
    
    .main .about{
        width: 100%;
        padding: 10px 10px;
        gap: 30px;
        padding-top: 0px;
    }

    .main .about .area{
        width: 100%;
        height: fit-content;
    }

    .main .about .area img{
        width: 100%;
        height: 300px;
    }
    
    .main .about .one{
        width: 100%;
        font-size: 48px;
        font-weight: bold;
        align-self: center;
        text-align: center;
    }

    .main .about .one h1{
        align-self: center;
        text-align: center;
    }
    
    .main .about .two{
        width: 100%;
        font-size: 22px;
        text-align: flex-start;
    }
    
    .main .about .three{
        width: 100%;
        padding: 10px;
        border-radius: 25px;
    }

    .main .about .six{
        padding: 15px 20px;
        border-radius: 20px;
    }
    
    .main .about .four{
        width: 100%;
    }
    
    .main .about .four h1{
        font-size: 30px;
    }
    
    .main .about .four img{
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
    
    .main .about .five{
        height: fit-content;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }
    
    .main .about .five h2{
        font-size: 28px;
        color: black;
        align-self: flex-start;
        text-align: left;
    }
    
    .main .about .five p{
        width: fit-content;
        font-size: 23px;
        align-self: flex-start;
        text-align: left;
    }

    .main .about .server{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
    }

    .main .about .divs img{
        display: flex;
        width: 100%;
    }
    
    .main .about .divs .div{
        flex-direction: column-reverse;
        gap: 25px;
    }
    
    .main .about .div .techniques{
        width: 100%;
    }
    
    .main .about .div .tech{
        width: 100%;
    }
    
    .main .about .div .tech img{
        width: 100%;
        height: 300px;
    }
    

    .main .about .techniques p{
        font-size: 18px;
        align-self: center;
        text-align: center;
    }
    
    .main .price{
        padding: 0px;
    }

    .main .price .img{
        display: flex;
        width: 100%;
        height: 300px;
    }
    
    .main .price .price-header h1{
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
    
    .main .price .price-header img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .main .price .price-header .price-header-buttons{
        gap: 10px;
    }
    
    .main .price .price-header .price-header-buttons button{
        width: fit-content;
        padding: 10px 10px;
    }
    
    .main .price .price-list{
        width: 100%;
        flex-direction: column;
        padding: 10px 10px;
        justify-self: flex-start;
        align-items: flex-start;
        gap: 30px;
    }
    .main .privacy{
        padding: 10px 20px;
    }
    
    .main .privacy h1{
        font-size: 30px;
        text-align: center;
        align-self: flex-start;
    }
    
    .main .privacy h2{
        font-size: 25px;
        align-self: flex-start;
    }
    
    .main .privacy p{
        font-size: 18px;
        text-align: left;
        align-self: flex-start;
    }

    .main .privacy .para{
        width: 100%;
        align-self: flex-start;
        text-align: left;
    }

.main .privacy .privacy-info{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.main .privacy .privacy-info h3{
    align-self: flex-start;
}

.main .privacy .privacy-info p{
    align-self: flex-start;
    text-align: left;
}

.main .privacy .privacy-info ul{
    width: 100%;
    height: fit-content;
    padding: 0px 15px;
    gap: 5px;
}

.main .privacy .privacy-collect p{
    align-self: flex-start;
    text-align: left;
}
    
    .main .disclaimer{
        padding: 10px 20px;
    }

    .main .disclaimer p{
        align-self: flex-start;
        text-align: left;
    }
    
    .main .disclaimer .disclaimer-content{
        gap: 10px;
    }
    
    .main .disclaimer .disclaimer-content h1{
        font-size: 30px;
        text-align: center;
    }
    
    .main .disclaimer .disclaimer-content p{
        font-size: 20px;
        align-self: flex-start;
        text-align: left;
    }
    
    .main .disclaimer .disclaimer-advice{
        gap: 20px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .main .disclaimer .disclaimer-advice .disclaimer-prof, .disclaimer-relationship{
        align-items: flex-start;
        gap: 10px;
    }

    .main .disclaimer .disclaimer-advice .disclaimer-prof h2{
        font-size: 21px;
    }
    
    .main .disclaimer .disclaimer-advice .disclaimer-prof p{
        font-size: 18px;
        text-align: left;
    }
    
    .main .disclaimer .disclaimer-advice .disclaimer-prof ol{
        width: 100%;
        font-size: 18px;
        padding: 0px 10px;
    }

    .main .disclaimer .disclaimer-advice .disclaimer-relationship h2{
        font-size: 20px;
    }
    
    .main .disclaimer .disclaimer-advice .disclaimer-relationship p, ul{
        width: 100%;
        font-size: 18px;
        white-space: normal;
        padding: 0px 10px;
    }
    
    .main .disclaimer .disclaimer-two{
        flex-direction: column;
        gap: 20px;
    }
    
    .main .disclaimer .disclaimer-two .disclaimer-service{
        width: 100%;
    }
    
    .main .disclaimer .disclaimer-two .disclaimer-service p, ul{
        width: 100%;
        font-size: 18px;
        padding: 0px 10px;
    }
    
    .main .disclaimer .disclaimer-two .disclaimer-compliance{
        width: 100%;
    }
    
    .main .disclaimer .disclaimer-two .disclaimer-compliance p, ol{
        width: 100%;
        font-size: 18px;
        padding: 0px 10px;
    }
    
    .main .disclaimer .disclaimer-three{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    
    .main .disclaimer .disclaimer-three .disclaimer-resource, .disclaimer-local{
        width: 100%;
    }
    
    .main .disclaimer .disclaimer-three .disclaimer-resource p, ul{
        font-size: 18px;
        width: 100%;
        padding: 0px 10px;
    }
    
    .main .disclaimer .disclaimer-three .disclaimer-local p, ul{
        width: 100%;
        font-size: 18px;
        padding: 0px 10px;
    }
    
    .main .disclaimer .disclaimer-four{
        flex-direction: column;
        gap: 20px;
    }
    
    .main .disclaimer .disclaimer-four .disclaimer-limit, .disclaimer-serve{
        flex-direction: column;
        gap: 10px;
    }

    .main .disclaimer .disclaimer-four .disclaimer-limit p{
        font-size: 18px;
    }
    
    .main .disclaimer .disclaimer-four .disclaimer-limit ol, ul{
        width: 100%;
        padding: 0px 10px;
    }
    
    .main .disclaimer .disclaimer-four .disclaimer-serve p, ol{
        width: 100%;
        font-size: 18px;
        padding: 0px 10px;
    }
    
    .main .disclaimer .disclaimer-five{
        flex-direction: column;
        gap: 20px;
    }

    .main .disclaimer .disclaimer-five .disclaimer-in p, ol{
        font-size: 18px;
    }

    .main .disclaimer .disclaimer-five .disclaimer-change{
        font-size: 18px;
    }
    
    .main .disclaimer .disclaimer-six p{
        font-size: 18px;
    }
    
    .footer{
        width: 100%;
        height: 150px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        padding: 10px 10px;
    }
    
    .footer .footer-one{
        flex-direction: column;
    }
    
    .footer .footer-one img{
        width: 40px;
    }

    .footer .footer-one .footer-link{
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    
    .footer .footer-one .footer-link a{
        text-decoration: underline;
        color: white;
    }
    
    .footer .footer-two img{
        width: 25px;
        height: 25px;
    }
}